mixin link-list()
  +b.UL.link-list&attributes(attributes)
    +e.LI.item
      +link-icon('dashboard')._white.js-default-link.active(href="#" title="Dashboard") Dashboard
    +e.LI.item
      +link-icon('money')._white(href="#" title="Buy tokens / Invest" data-popup="popup-buy-tokens").js-open-popup Buy tokens / Invest
    +e.LI.item
      +link-icon('time')._white.js-open-popup(href="#" data-popup="popup-history-purchases" title="Purchase history") Purchase history

mixin link-list-steps(steps)
  - var active2 = " "
  - var active3 = " "
  - if (steps === 2) { active2 = " active"}
  - if (steps === 3) { active2 = " active"; active3 = " active"}
  +b.UL.link-list_steps&attributes(attributes)
    +e.LI.item
      +link._white.active(href="signup.html" data-current-step="step1")
        +dot
        | Step 1
    +e.LI.item
      +link._white(href="signup-step2.html" class=active2 data-current-step="step2")
        +dot
        | Step 2
    +e.LI.item
      +link._white(href="signup-step3.html" class=active3 data-current-step="step3")
        +dot
        | Step 3
