mixin link-list()
  +b.UL.link-list&attributes(attributes)
    +e.LI.item
      +link-icon('dashboard')._white.active(href="#" title="Dashboard") Dashboard
    +e.LI.item
      +link-icon('money')._white(href="#" title="Buy tokens / Invest") Buy tokens / Invest
    +e.LI.item
      +link-icon('time')._white.js-open-popup(href="#" data-popup="popup-history-purchases" title="Purchase history") Purchase history

mixin link-list-steps()
  +b.UL.link-list_steps&attributes(attributes)
    +e.LI.item
      +link._white.active(href="#" data-current-step="step1")
        +dot
        | Step 1
    +e.LI.item
      +link._white(href="#" data-current-step="step2")
        +dot
        | Step 2
    +e.LI.item
      +link._white(href="#" data-current-step="step3")
        +dot
        | Step 3

