.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 14px 20px;
  background: $color-background-third;
  box-sizing: border-box;
  z-index: 102;

  @include screen('tablet-wide') {
    padding: 24px 20px;
  }

  @include screen('desktop') {
    flex-wrap: nowrap;
    padding: 24px 30px;
  }

  &__logo, &__account {

    @include screen('desktop') {
      width: 400px;
      max-width: 400px;
    }
  }

  &__logo {
    margin-right: 20px;

    @include screen('desktop') {
      margin-right: 0;
    }
  }

  &__navigation {
    display: block;
    margin: 0 auto;

    @include screen('desktop', max) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin: 20px 0 0;
      order: 2;
    }
  }

  &__title {
    @include text-bigger;
    font-weight: 500;
    text-align: center;
  }

  &__account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    @include screen('tablet-wide', max) {
      margin-left: auto;
    }

    .notification {
      margin-right: 10px;

      @include screen('desktop') {
        margin-right: 16px;
      }

      @include screen('desktop-wide') {
        margin-right: 24px;
      }
    }

    .language {
      margin-right: 10px;

      @include screen('desktop') {
        margin-right: 16px;
      }

      @include screen('desktop-wide') {
        margin-right: 26px;
      }
    }
  }

  &_transparent {
    background: transparent;
  }

  &_short {
    padding: 14px 20px;

    @include screen('tablet-wide') {
      padding: 24px 30px;
    }

    @include screen('desktop') {
      padding: 30px 34px;
    }

    .header {

      &__account {

        .language {
          margin-right: 0;
        }
      }

      &__navigation {
        width: 100%;
        max-width: 502px;

        @include screen('tablet-wide', max) {
          width: 100%;
          max-width: none;
        }
      }
    }
  }
}
