mixin header()
  +b.header&attributes(attributes)
    +e.logo
      +logo
    +e.NAV.navigation
      +link-list
    +e.account
      +notification.is-active
      +language
      +account

mixin header-short(formmenu)
  +b.header_short&attributes(attributes)
    +e.logo
      +logo
    +e.NAV.navigation
      - if (formmenu) {
        +link-list-steps
      - } else {
        +e.title Sign In
      - }
    +e.account
      +language
