extends ../../layouts/sign

block head
  - var pageTitle = 'D12 Fund - Sign Up'

block header
  -var formmenu = true

block content
  +b.MAIN.signup
    .container
      +form.__form#form-signup
        +e.step.active(data-step="step1")
          +e.LABEL.row
            +e.label
              +e.SPAN.star *
              | Email Address
            +e.wrapper
              +input(type="text" placeholder="Type your email address" data-type="email" require)
              +e.switcher_info
                +icon('alert').icon_alert
          +e.row_centered._button_mb
            +button-arrow('a')(href="#" data-target-step="step2").__button.js-next-step Next Step
        +e.step(data-step="step2")
          +e.LABEL.row
            +e.label
              +e.SPAN.star *
              | Password
            +e.wrapper
              +input(type="password" placeholder="Type your password" required)
              +e.switcher.js-show-pass
                +icon('eye').icon_eye
          +e.LABEL.row
            +e.label
              +e.SPAN.star *
              | Confirm Password
            +e.wrapper
              +input(type="password" placeholder="Confirm password" required)
              +e.switcher.js-show-pass
                +icon('eye').icon_eye
          +e.row_centered._button
            +button-arrow('a')(href="#" data-target-step="step3").__button.js-next-step Next Step
        +e.step(data-step="step3")
          +e.row
            +capcha
          +e.row_centered._button
            +button-arrow('a')(href="#" data-target-step="step4").__button.js-next-step Next Step
        +e.step(data-step="step4")
          +info-message('Confirmation')
            +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.
          +e.row_centered._button
            +button-arrow('a')(href="#" data-target-step="step5").__button.js-next-step Confirm Email
        +e.step(data-step="step5")
          +info-message('Email Confirmed')
            +e.P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.
          +e.row_centered._button
            +button-arrow('a')(href="index.html").__button View Dashboard
