.signup {
  display: block;
  width: 100%;

  &__form {
    box-sizing: border-box;
    padding-bottom: 30px;

    @include screen('tablet-small') {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include screen('tablet-wide') {
      padding-left: 174px;
      padding-right: 174px;
    }

    .info-message {
      margin: 0 auto;
      max-width: 400px;
      width: 100%;

      @include screen('tablet-wide') {
        padding-top: 58px;
      }
    }

    .form {

      &__step {
        box-sizing: border-box;
        padding-top: 150px;

        @include screen('tablet') {
          padding-top: 210px;
        }
      }

      &__row {
        &:not(:last-child) {
          margin-bottom: 40px;
        }

        &_button {
          margin-top: 42px;

          &_mb {
            margin-top: 50px;
          }

          &_sm {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
