extends ../../layouts/sign

block head
  - var pageTitle = 'D12 Fund - Sign Up'

block header
  - formmenu = true

block content
  +b.MAIN.signup_step1
    .container
      +form.__form#form-signup
        +e.LABEL.row
          +e.label
            +e.SPAN.star *
            | Email Address
          +e.wrapper
            +input(type="text" placeholder="Type your email address" data-type="email" require)
            +e.switcher_info
              +icon('alert').icon_alert
        +e.row_centered._button_mb
          +button-arrow('button')(type="submit").__button.js-validate Next Step
