mixin language()
  +b.A.language.js-open-popup(href="#" data-popup="popup-language" title="USA")&attributes(attributes)
    +e.country
      +e.IMG(src="assets/images/us.svg").image
    +e.toggle
      +icon('angle').icon
