.language {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:hover {

    .language {

      &__icon {
        stroke: $color-input;
      }
    }
  }

  &__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    transform: rotate(0);
    transition: all $ease-main;

    @include screen('phone-wide') {
      width: 12px;
      height: 12px;
    }

    .language.active & {
      transform: rotate(180deg);
    }
  }

  &__icon {
    width: 9px;
    height: 5px;
    fill: none;
    stroke: $color-basic;
    transition: all $ease-main;

    @include screen('phone-wide') {
      width: 11px;
      height: 7px;
    }
  }

  &__country {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 7px;

    @include screen('desktop') {
      padding-left: 10px;
      padding-right: 14px;
    }
  }

  &__image {
    width: 15px;
    height: auto;
    overflow: hidden;

    @include screen('phone-wide') {
      width: 20px;
    }

    @include screen('tablet') {
      width: 26px;
    }
  }
}
