.form {
  display: block;

  &__label {
    @include text-small;
    font-weight: 700;
    text-transform: uppercase;

    &_centered {
      text-align: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: $color-main;
  }

  &__star {
    @include text-bigger-st;
    color: $color-main;
    margin-right: 4px;
  }

  &__step {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    opacity: 0;
    transition: opacity $ease-main, transform $ease-main;
    transform: translate3d(-10px, 0, 0);
    width: 100%;

    &.active {
      display: flex;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &_centered {
      align-items: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include screen('tablet') {
        margin-bottom: 50px;
      }
    }

    &_notes {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    &_centered {
      justify-content: center;
      align-items: center;
    }

    &_columns {
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
    }

    .form__label {
      width: 100%;
    }
  }

  &__col {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    @include screen('tablet-small') {
      margin-bottom: 0;
      width: 50%;
    }

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      @include screen('phone-wide') {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }

      @include screen('tablet-small') {
        justify-content: flex-end;
      }

      .form__label {
        width: auto;
        margin-right: 8px;
        margin-bottom: 10px;

        @include screen('phone-wide') {
          margin-bottom: 0;
        }
      }
    }
  }

  &__wrapper {
    display: block;
    position: relative;
    width: 100%;

    .input {
      padding-right: 36px;
    }

    &_row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .form__switcher {
        position: relative;
        right: auto;
        top: auto;
        transform: translateY(0);
      }
    }

    &.error {

      .form__icon {
        stroke: $color-red;
      }

      .error-msg {
        opacity: 1;
      }
    }

    .error-msg {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 5px 0;
      opacity: 0;
      @include text-small;
      font-weight: 700;
      text-transform: uppercase;
      color: $color-red;
      transition: opacity $ease-main;
    }
  }

  &__note {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 12px;

    &:not(:last-child) {
      margin-right: 90px;
    }

    .form__icon {
      margin-right: 16px;
    }
  }

  &__button {
    width: 100%;

    @include screen('phone') {
      width: auto;
      min-width: 294px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: $color-main;
    transition: all $ease-main;

    &_angle {
      min-width: 14px;
      width: 14px;
      height: 24px;
      stroke: $color-main;
    }

    &_calendar {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }

    &_alert {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }

    &_pen {
      width: 14px;
      height: 14px;
      stroke: $color-placeholder;

      @include screen('tablet') {
        width: 24px;
        height: 24px;
      }
    }

    &_eye {
      width: 14px;
      height: 9px;

      @include screen('tablet') {
        width: 24px;
        height: 16px;
      }
    }
  }

  &__arrow-link {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 24px;
    transform: translateY(-50%) rotate(180deg);

    &:hover {

      .form__icon {
        stroke: $color-blue;
      }
    }
  }

  &__textfield {
    display: inline-block;
    width: auto;
    max-width: 100%;
    position: relative;
    color: $color-main;
  }

  &__switcher {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);

    @include screen('tablet') {
      width: 24px;
      height: 24px;
    }

    &:hover {

      .form__icon {
        stroke: $color-main;

        &_eye {
          stroke: $color-placeholder;
        }
      }
    }

    &_info {
      cursor: default;
    }
  }

  &__note {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 50px;

    @include screen('tablet') {
      margin-bottom: 104px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    @include screen('tablet') {
      width: 41.5%;
    }
  }

  &__exchange {
    min-width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0;

    @include screen('tablet') {
      padding-bottom: 0;
      flex: 1;
      width: auto;
      max-width: 17%;
    }
  }

  &__container {
    flex: 1;

    .input[readonly] {
      border-bottom-color: $color-placeholder;
    }
  }

  &__info-message {
    display: block;
    width: 100%;

    .form__error {
      display: none;
      color: $color-red;
      @include text-big;
      padding: 30px 0;
    }

    .form__success {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 0;

      &-icon {
        width: 20px;
        height: 14px;
        fill: none;
        stroke: $color-green;
        stroke-width: 2px;
        margin-right: 10px;
      }

      &-text {
        @include text-big;
        color: $color-green;
      }

      &-buttons {
        width: 100%;
        text-align: center;

        .button {
          width: 100%;
          max-width: 300px;
        }
      }
    }

    &.error {
      .form__error {
        display: block;
      }
    }

    &.success {
      .form__success {
        display: flex;
      }
    }
  }
}
