.form {
  display: block;

  &__label {
    @include text-small;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: $color-main;
  }

  &__dots {
    position: relative;
    display: inline-block;
    min-width: 8px;
    width: 8px;
    height: 8px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: $color-main;

    @include screen('tablet-wide') {
      min-width: 12px;
      width: 12px;
      height: 12px;
      margin-right: 30px;
    }

    &:first-of-type {
      margin-left: 10px;

      @include screen('tablet-wide') {
        margin-left: 16px;
      }
    }

    &::before {
      @include pseudo;
      top: 0;
      left: 14px;
      min-width: 8px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color-main;

      @include screen('tablet-wide') {
        left: 22px;
        min-width: 12px;
        width: 12px;
        height: 12px;
      }
    }
  }

  &__step {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    opacity: 0;
    transition: opacity $ease-main, transform $ease-main;
    transform: translate3d(-10px, 0, 0);
    width: 100%;

    &.active {
      display: flex;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &_centered {
      align-items: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;

      @include screen('tablet') {
        margin-bottom: 50px;
      }
    }

    &_notes {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }

    &_centered {
      justify-content: center;
      align-items: center;
    }

    .form__label {
      width: 100%;
    }
  }

  &__wrapper {
    display: block;
    position: relative;
    width: 100%;

    .input {
      padding-right: 36px;
    }

    &_row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .form__switcher {
        position: relative;
        right: auto;
        top: auto;
        transform: translateY(0);
      }
    }
  }

  &__note {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 14px;
    padding-bottom: 12px;

    &:not(:last-child) {
      margin-right: 90px;
    }

    .form__icon {
      margin-right: 16px;
    }
  }

  &__button {
    width: 100%;

    @include screen('phone') {
      width: auto;
      min-width: 294px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: $color-main;
    transition: all $ease-main;

    &_angle {
      min-width: 14px;
      width: 14px;
      height: 24px;
      stroke: $color-main;
    }

    &_calendar {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }

    &_alert {
      min-width: 24px;
      width: 24px;
      height: 24px;
    }

    &_pen {
      width: 14px;
      height: 14px;
      stroke: $color-placeholder;

      @include screen('tablet') {
        width: 24px;
        height: 24px;
      }
    }

    &_eye {
      width: 14px;
      height: 9px;

      @include screen('tablet') {
        width: 24px;
        height: 16px;
      }
    }
  }

  &__arrow-link {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 24px;
    transform: translateY(-50%) rotate(180deg);

    &:hover {

      .form__icon {
        stroke: $color-blue;
      }
    }
  }

  &__textfield {
    display: inline-block;
    width: auto;
    max-width: 100%;
    position: relative;
    color: $color-main;
  }

  &__switcher {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);

    @include screen('tablet') {
      width: 24px;
      height: 24px;
    }

    &:hover {

      .form__icon {
        stroke: $color-main;

        &_eye {
          stroke: $color-placeholder;
        }
      }
    }
  }

  &__note {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
