extends ../../layouts/default

block head
  - var pageTitle = 'D12 Fund - Sitemap'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") D12 Fund - Home page (index.html)
        +link(href="signup.html") D12 Fund - Sign Up - Step 1 (signup.html)
        +link(href="signup-step2.html") D12 Fund - Sign Up - Step 2 (signup-step2.html)
        +link(href="signup-step3.html") D12 Fund - Sign Up - Step 3 (signup-step3.html)
        +link(href="confirmation.html") D12 Fund - Confirmation (confirmation.html)
        +link(href="confirmed.html") D12 Fund - Confirmed (confirmed.html)
        +link(href="signin.html") D12 Fund - Sign In (signin.html)
