@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

.container {
  width: 100%;
  max-width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  height: 100vh;

  &_mobile {
    min-height: 100vh;
    height: auto;

    @include screen('tablet') {
      min-height: 100vh;
      height: 100vh;
    }
  }

  .header, main, .footer {
    box-sizing: border-box;
    width: 100%;
  }

  main {
    display: block;
    margin: auto 0;
  }
}

.js-sr {
  visibility: hidden;
}

.hidden-link {
  font-size: 0;
  visibility: hidden;
}
