mixin popup-language(title)
  +popup(title).popup-language__&attributes(attributes)
    +icon-list.__list
      +e.LI.item.js-lang-select(data-value="Vietnam, ")
        +e.image
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="Vietnam, ")
        +e.image
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="Vietnam, ")
        +e.image
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="Vietnam, ")
        +e.image
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="USA, assets/images/usa.svg")
        +e.IMG.image(src="assets/images/usa.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="USA, assets/images/usa.svg")
        +e.IMG.image(src="assets/images/usa.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="USA, assets/images/usa.svg")
        +e.IMG.image(src="assets/images/usa.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="USA, assets/images/usa.svg")
        +e.IMG.image(src="assets/images/usa.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="Slovenia, ")
        +e.image
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Slovenia, ")
        +e.image
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Slovenia, ")
        +e.image
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Slovenia, ")
        +e.image
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Spain, ")
        +e.image
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="Spain, ")
        +e.image
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="Spain, ")
        +e.image
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="Spain, ")
        +e.image
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
