mixin popup-language(title)
  +popup(title).popup-language__&attributes(attributes)
    +icon-list.__list
      +e.LI.item.js-lang-select(data-value="Vietnam, assets/images/vn.svg")
        +e.IMG.image(src="assets/images/vn.svg")
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="Vietnam, assets/images/vn.svg")
        +e.IMG.image(src="assets/images/vn.svg")
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="Vietnam, assets/images/vn.svg")
        +e.IMG.image(src="assets/images/vn.svg")
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="Vietnam, assets/images/vn.svg")
        +e.IMG.image(src="assets/images/vn.svg")
        +e.text Vietnam
      +e.LI.item.js-lang-select(data-value="USA, assets/images/us.svg")
        +e.IMG.image(src="assets/images/us.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="USA, assets/images/us.svg")
        +e.IMG.image(src="assets/images/us.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="USA, assets/images/us.svg")
        +e.IMG.image(src="assets/images/us.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="USA, assets/images/us.svg")
        +e.IMG.image(src="assets/images/us.svg")
        +e.text USA
      +e.LI.item.js-lang-select(data-value="Slovenia, assets/images/si.svg ")
        +e.IMG.image(src="assets/images/si.svg")
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Slovenia, assets/images/si.svg ")
        +e.IMG.image(src="assets/images/si.svg")
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Slovenia, assets/images/si.svg ")
        +e.IMG.image(src="assets/images/si.svg")
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Slovenia, assets/images/si.svg ")
        +e.IMG.image(src="assets/images/si.svg")
        +e.text Slovenia
      +e.LI.item.js-lang-select(data-value="Spain, assets/images/es.svg")
        +e.IMG.image(src="assets/images/es.svg")
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="Spain, assets/images/es.svg")
        +e.IMG.image(src="assets/images/es.svg")
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="Spain, assets/images/es.svg")
        +e.IMG.image(src="assets/images/es.svg")
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="Spain, assets/images/es.svg")
        +e.IMG.image(src="assets/images/es.svg")
        +e.text Spain
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
      +e.LI.item.js-lang-select(data-value="France, assets/images/fr.svg")
        +e.IMG.image(src="assets/images/fr.svg")
        +e.text France
