.table {
  display: table;

  @include text;

  tr {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  td, th {
    box-sizing: border-box;
    text-align: left;
    padding: $grid-gap/2 $grid-gap $grid-gap/2 0;
    vertical-align: top;

    &:last-child {
      padding-right: 0;
    }

    &.table__cell_name {
      padding-left: 44px;
    }
  }

  th {
    @include text-bigger-st;
    font-weight: 700;
  }

  td {
    padding: 25px $grid-gap 22px 0;
  }

  &__cell {
    width: (1/7)*100%;

    &_date {
      width: 15.45%;
    }

    &_name {
      width: 16.2%;
      position: relative;
      box-sizing: border-box;
      @include text-small;
      font-weight: 700;
      text-transform: uppercase;
    }

    &_type {
      width: 15.54%;
      color: rgba($color-text, .5);
    }

    &_gross {
      width: 16.86%;
    }

    &_fee {
      width: 15.29%;
    }

    &_net {
      width: 14.71%;
    }

    &_balance {
      width: 5.87%;
    }
  }

  &__mark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__up, &__down {
    margin-right: 4px;
  }

  &__up {
    color: $color-main;
  }

  &__down {
    color: $color-red;
  }
}
