mixin link()
  +b.A.link&attributes(attributes)
    +e.SPAN.text
      block

mixin link-icon(iconname)
  -var addClass = " _" + iconname
  +b.A.link&attributes(attributes)._icon
    +e.iwrapper
      +icon(iconname)(class="__icon" + addClass)
    +e.SPAN.text
      block
