.link {
  display: inline-block;

  &__text {
    @include link;
  }

  &_icon {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__iwrapper {
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
  }

  &__icon {
    width: 28px;
    height: 28px;
    display: block;
    fill: $color-main;
    transition: all $ease-main;

    &_dashboard {
      width: 28px;
      height: 28px;
    }

    &_money {
      width: 24px;
      height: 28px;
    }

    &_time {
      width: 28px;
      height: 28px;
    }
  }

  &_white {

    .link {

      &__text {
        @include link-white;
      }

      &__icon {
        fill: $color-basic;
      }
    }

    &:hover {

      .link__icon {
        fill: $color-main;
      }
    }
  }

  &.disabled {
    pointer-events: none;

    .link__icon { fill: $color-border; }

    .link__text { @include link-disabled; }
  }
}
