mixin popup-profile()
  +popup('My Profile').popup-profile__&attributes(attributes)
      +e.column_left
        +e.avatar
          +avatar._big
          +upload('form-edit-profile').__upload
      +e.column_right
        +form.__form#form-edit-profile
          +e.row
            +e.label Full name
            +e.wrapper_row
              +input(type="hidden" value="Mark Hoffan" placeholder="Full Name")
              +e.SPAN.textfield.input(contenteditable="false") Mark Hoffan
              +e.switcher.js-edit-on
                +icon('pen').icon_pen
          +e.LABEL.row
            +e.label email adress (&nbsp;this is also your username&nbsp;)
            +e.wrapper
              +input(type="text" placeholder="Type your email address" value="mark.hoffan@gmail.com" data-type="email" readonly)
              +e.switcher.js-edit-on
                +icon('pen').icon_pen
          +e.row_notes
            +link._bordered._upper.js-open-popup(href="#" data-popup="popup-change-password") Change password
            +link._bordered._upper.js-open-popup(href="#" data-popup="popup-edit-wallet") Edit wallet address
          +e.row
            +button('button')(type="submit").__button Save Changes
