extends ../../layouts/default

block head
  - var pageTitle = 'D12 Fund - Ui-kit'

block content
  +ui-kit
    +e.navigation
      +e.navigation-burger
      +e.UL.navigation__list

    +ui-kit-head
      +e.logo
        +logo
        +e.BR
        | Логотип
      +e.name D12 Fund

    //- Сетка
    +ui-section._grid
      +ui-section-head
        h2 Сетка
        p Отступы слева и справа от экрана: 20px ($container-padding)
        p Ширина контейнера максимальная: 1210px ($container-width)
        p Ширина контейнера сетки: 100% ($grid-container-width)
        p Колонок: 12 ($grid-cols)
        p Горизонтальное расстояние между колонками: 20px ($grid-gap)
        p Вертикальное расстояние между колонками: 20px ($grid-gap-vertical)
        p Переменные: styles/helpers/_variables.scss
        p Блок: blocks/grid/
      +ui-section-content()
        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
        +ui-description
          p .grid.grid_wide
          p Горизонтальное расстояние между колонками: 40px ($grid-gap)
          p Вертикальное расстояние между колонками: 40px ($grid-gap-vertical)
        +grid.grid_wide
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)

    //- Цвета
    +ui-section
      +ui-section-head
        h2 Цвета сайта
        p Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-color('white', '$color-basic')
          +ui-color('#1a97fc', '$color-main', true)
          +ui-color('#122a48', '$color-placeholder', true)
          +ui-color('#268dfc', '$color-input', true)
          +ui-color('#83a1c4', '$color-text', true)
          +ui-color('#b6d0ee', '$color-text-second', true)
          +ui-color('#0c3669', '$color-text-third', true)
          +ui-color('#238efc', '$color-text-four', true)
          +ui-color('#3a4f68', '$color-text-fifth', true)
          +ui-color('#23538d', '$color-border', true)
          +ui-color('#09182a', '$color-background', true)
          +ui-color('#0a1b2f', '$color-background-second', true)
          +ui-color('#0c1f35', '$color-background-third', true)
          +ui-color('#0a2443', '$color-background-four', true)
          +ui-color('#0a2648', '$color-background-fifth', true)
          +ui-color('#2290fc', '$color-button', true)
          +ui-color('#0055a9', '$color-button-hover', true)
          +ui-color('#0b1e34', '$color-button-background', true)
          +ui-color('#f5922f', '$color-orange')
          +ui-color('#ffbd7c', '$color-orange-light')
          +ui-color('#be2a73', '$color-red', true)
          +ui-color('#7cbc29', '$color-green', true)
          +ui-color('#234266', '$color-blue', true)
          +ui-color('#0f3056', '$color-blue-2', true)
          +ui-color('#3b93e8', '$color-light-blue', true)
          +ui-color('#2a8afc', '$color-light-blue2', true)
          +ui-color('#2f84fc', '$color-light-blue3', true)
          +ui-color('#1a324f', '$color-grid-lines', true)
          +ui-color('#183455', '$color-blue-3', true)
          +ui-color('#337dfc', '$color-gradient-1', true)
          +ui-color('#0044b3', '$color-gradient-2', true)
          +ui-color('#0053a9', '$color-gradient-3', true)

    //- Цвета
    +ui-section
      +ui-section-head
        h2 Градиенты
        p Цвета для градиентов находятся в файле styles/helpers/_variables.scss
        p Сами градиенты в styles/helpers/_gradients.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-gradient('gradient-main', true)._gradient_main
          +ui-gradient('gradient-light', true)._gradient_light

    //- Шрифты и контентная зона
    +ui-section
      +ui-section-head
        h2 Шрифты и контентная зона
        p Основной шрифт: Helvetica Neue ($font-main), font-weight: 300, 400, 500, 700
        p Переменные находятся в файле styles/helpers/_variables.scss
        p Шрифты подключены в styles/helpers/_fonts.scss
        p Контентная зона: blocks/content-zone
        p Стили всех текстов лежат в файле styles/helpers/_text-styles.scss и должны импортироваться из него через директиву @include
      +ui-section-content()
        +ui-description .content-zone
        +ui-special()
          +content-zone
            h1 Заголовок H1 (heading-1)
            h2 Заголовок H2 (heading-2)
            h3 Заголовок H3 (heading-3)
            h4 Заголовок H4 (heading-4)
            h5 Заголовок H5 (heading-5)
            h6 Заголовок H6 (heading-6)
            p Текст p (text)<br> Цитата внутри текста p: <q>Цитата q</q>
            p <small>Тег small внутри p (text-small)</small>
            blockquote
              p Демонстрация цитаты через тег blockquote
              h4 Внутри могут быть заголовки
              p Текст с <a href="#">ссылкой в тексте</a>
            p Картинка в тексте (img):
            img(src="http://verstaburo.com/NEW/patterns/pattern.jpg")
            p Маркированный список ul. Стили взяты из styles/helpers/_list-styles.scss
            ul
              li Элемент списка
              li Другой элемент
                ul
                  li Элемент списка
                  li Другой элемент
                  li Элемент списка
              li Элемент списка
            p Нумерованный список ol. Стили взяты из styles/helpers/_list-styles.scss
            ol
              li Элемент списка
              li Другой элемент
                ol
                  li Элемент списка
                  li Другой элемент
                  li Элемент списка
              li Элемент списка
        +ui-description Другие стили текстов:
        +ui-custom-text._style-1 Пример кастомного стиля на примере стандартного 45px (text-extra-big)
        +ui-custom-text._style-2 Пример кастомного стиля на примере стандартного 19px (text-bigger-st)
        +ui-custom-text._style-3 Пример кастомного стиля на примере стандартного 18px (text-bigger)
        +ui-custom-text._style-4 Пример кастомного стиля на примере стандартного 16px (text-big)

    //- Таблицы
    +ui-section
      +ui-section-head
        h2 Таблицы
        p Блок: blocks/table
      +ui-section-content()
        +ui-description Простая таблица
          +table()
            thead
              tr
                th Ячейка
                th Ячейка
                th Ячейка
            tbody
              tr
                td Ячейка
                td Ячейка
                td Ячейка
              tr
                td Ячейка
                td Ячейка
                td Ячейка
        +ui-description Таблица purchase history
          +e.wrapper.js-scrollbar
            +table
              +e.THEAD.header
                +e.TR.row_head
                  +e.TH.cell_head Date
                  +e.TH.cell_head Name
                  +e.TH.cell_head Type
                  +e.TH.cell_head Gross
                  +e.TH.cell_head Fee
                  +e.TH.cell_head Net
                  +e.TH.cell_head Balance
              +e.TBODY.body
                +e.TR.row
                  +e.TD.cell_date table__cell
                  +e.TD.cell_name
                    +mark.__mark T
                    | table__cell_name
                  +e.TD.cell_type table__cell_type
                  +e.TD.cell_gross table__cell
                  +e.TD.cell_fee  table__cell
                  +e.TD.cell_net
                    +e.SPAN.down table__down
                  +e.TD.cell_balance  table__cell
                +e.TR.row
                  +e.TD.cell_date table__cell
                  +e.TD.cell_name
                    +mark._orange.__mark B
                    | table__cell_name
                  +e.TD.cell_type table__cell_type
                  +e.TD.cell_gross table__cell
                  +e.TD.cell_fee  table__cell
                  +e.TD.cell_net
                    +e.SPAN.up table__up
                  +e.TD.cell_balance  table__cell
    //- Кнопки
    +ui-section
      +ui-section-head
        h2 Кнопки
        p Блок: blocks/button
      +ui-section-content()
        +ui-elements-list()
          +button()(href="#") .button
          +button('button')(type="button" disabled) .button:disabled (.button.disabled)
          +button-arrow(href="#") .button_arrow
          +button._small(href="#") .button_small
          +button._smaller(href="#") .button_smaller
          +button._dark(href="#") .button_dark
          +button._darken(href="#") .button_darken
          +button._darken.active(href="#") .button_darken.active
        +ui-description При клике на .js-anchor происходит скролл к элементу из атрибута href. Блок: blocks/js-functions/anchor.js
        +button()(href="#section0").js-anchor .js-anchor
        +ui-description При клике на .js-freeze скролл страницы блокируется, на .js-unfreeze разблокируется. Блок: blocks/js-functions/freeze.js. Функции freeze() и unfreeze() можно импортировать и использовать в модалках, бургере или где-то еще
        +ui-elements-list()
          +button()(href="#").js-freeze .js-freeze
          +button()(href="#").js-unfreeze .js-unfreeze

    //- Списки
    +ui-section
      +ui-section-head
        h2 Списки
        p Блок: blocks/lists
        p По желанию можно доработать (для каких-то сложных списков). Добавить миксин +list-item и вписать туда шаблон для li
      +ui-section-content()
        +ui-description ul.list
        +ul-list
          li Элемент списка
            +ul-list
              li Элемент списка
              li Элемент списка
              li Элемент списка
          li Элемент списка
          li Элемент списка
        +ui-description ol.list
        +ol-list(ol)
          li Элемент списка
          li Элемент списка
            +ol-list(ol)
              li Элемент списка
              li Элемент списка
              li Элемент списка
          li Элемент списка

    //- Элементы формы
    +ui-section
      +ui-section-head
        h2 Элементы форм
        p Блок: blocks/form-elements
      +ui-section-content()
        +grid
          +col(6)
            +ui-description .input
            +inputbox
              +input(placeholder="Плейсхолдер")
          +col(6)
            +ui-description .select.js-select
            +inputbox
              +select
                option(value="Опция 1") Опция 1
                option(value="Опция 2") Опция 2
                option(value="Опция 3") Опция 3
          +col(6)
            +ui-description .js-datepicker<br> Параметры задаются через дата-атрибуты
            +inputbox()
              +input()(placeholder="Выберите дату" readonly).js-datepicker
          +col(6)
            +ui-description Поле ввода номера телефона.<br> Маска определяется через атрибут data-type="tel"
            +inputbox()
              +input()(placeholder="+7 (___) ___-__-__" data-type="tel")
          +col(6)
            +ui-description Поле ввода e-mail.<br> Маска определяется через атрибут data-type="email"
            +inputbox()
              +input()(placeholder="E-mail" data-type="email")
          +col(6)
            +ui-description .js-number-input<br> Поле изменения количества
            +inputbox()
              +input-number()(placeholder="Количество товара")
          +col(12)
            +textarea(placeholder="Текстовое поле")
          +col(6)
            +ui-description .checkradio
            +inputbox()
              +checkbox('ui-checkbox', 'test', 'true') Чекбокс
          +col(6)
            +ui-description .checkradio
            +inputbox()
              +ui-elements-list
                +radio('ui-radio', 'test', 'true') Радиокнопка
                +radio('ui-radio', 'test-2') Радиокнопка
          +col(6)
            +ui-description .range.js-range<br> Все параметры задаются дата-атрибутами
            +inputbox()
              +range()(data-start='40', data-connect='[true, false]', data-min='0', data-max='100')
          +col(6)
            +ui-description .upload.js-upload
            +inputbox()
              +upload
          +col(6)
            +ui-description .upload._zone.js-upload-mix
            +inputbox()
              +upload-zone

    //- Form
    +ui-section
      +ui-section-head
        h2 Форма
        p Блок: blocks/form/form
        pre(style="white-space: pre")
          | .form
          |  .form__row
          |    .form__label
          |       .star *
          |       | Label
          |    .form__wrapper
          |      .input
          |      .switcher
          |        .icon
        p Для валидации добавить .js-validate  к кнопке отправки формы
      +ui-section-content()
        +form
          +e.LABEL.row
            +e.label
              +e.SPAN.star *
              | Label
            +e.wrapper
              +input(type="text" placeholder="Type your name" require)
              +e.switcher_info
                +icon('alert').icon_alert
          +e.row_centered._button
            +button-arrow('button')(type="submit").__button.js-validate Submit
    //- Попапы
    +ui-section
      +ui-section-head
        h2 Попапы
        p Блок: blocks/popups
      +ui-section-content()
        +ui-description Верстка попапов:
        +link.js-open-popup(href="#" data-popup="testpopup") Показать попапы(.js-open-popup)
        block popups
          +popup('Тестоввый попап - загололвок')#testpopup
            +content-zone
              p Контент попапа
            +link.js-close-popup(href="#") Скрыть попап (.js-close-popup)

    //- Ссылки
    +ui-section
      +ui-section-head
        h2 Ссылки
        p Блок: blocks/link
        p Стили ссылок: helpers/_link-styles.scss
      +ui-section-content()
        +ui-description .link
        +link(href="#") Обычная ссылка
        +ui-description .link._white
        +link._white(href="#") Белая ссылка
        +ui-description .link._upper
        +link._upper(href="#") В верхнем регистре ссылка
        +ui-description .link._dark
        +link._dark(href="#") Темная ссылка
        +ui-description .link._bordered
        +link(href="#")._bordered Подчеркнутая ссылка
        +ui-description .link._icon
        +link-icon('refresh')(href="#") Ссылка с иконкой
        +ui-description .link.disabled
        +link(href="#").disabled Отключенная ссылка

    //- Скроллбар
    +ui-section
      +ui-section-head
        h2 Кастомный скроллбар
        p Блок: blocks/scrollbar/scrollbar
      +ui-section-content()
        +ui-description .js-scrollbar
        +e.scrolldemo.js-scrollbar
          +e.scrolldemo-block

    //- Слайдер
    +ui-section
      +ui-section-head
        h2 Слайдер
        p Блок: blocks/slider/slider
      +ui-section-content()
        +ui-description .js-slider
        +slider(true, true)
          +slide Привет
          +slide Привет
          +slide Привет
          +slide Привет

    //- Dropdown
    +ui-section
      +ui-section-head
        h2 Dropdown
        p Блок: blocks/dropdown/dropdown
      +ui-section-content
        +ui-description Для использования, нужно "кнопке" добавить класс .js-dropdown-toggle
        div(style="display: inline-block; position: relative; margin-bottom: 24px;")
          +button.js-dropdown-toggle top
          +dropdown._position_top content
        div(style="display: inline-block; position: relative; margin-bottom: 24px;")
          +button.js-dropdown-toggle bottom
          +dropdown content

    //- Avatar
    +ui-section
      +ui-section-head
        h2 Avatar
        p Блок: blocks/avatar/avatar
      +ui-section-content
        +ui-description Блок аватара маленький .avatar
        +avatar
        +ui-description Блок аватара большой .avatar._big
        +avatar._big

    //- Social
    +ui-section
      +ui-section-head
        h2 Social
        p Блок: blocks/social/social
      +ui-section-content
        +ui-description Блок социальной сети .social(img)
        +social('fb')

    //- Socials
    +ui-section
      +ui-section-head
        h2 Socials
        p Блок: blocks/socials/socials
      +ui-section-content
        +ui-description Список социальных сетей .socials
        +socials

    //- Capcha
    +ui-section
      +ui-section-head
        h2 Captcha
        p Блок: blocks/capcha/capcha
      +ui-section-content
        +ui-description Captcha .capcha
        +capcha

    //- Dot
    +ui-section
      +ui-section-head
        h2 Dot
        p Блок: blocks/dot/dot
      +ui-section-content
        +ui-description Dot .dot
        +dot
        +ui-description Dot .dot._double
        +dot._double

    //- Income
    +ui-section
      +ui-section-head
        h2 Income
        p Блок: blocks/income/income
      +ui-section-content
        +ui-description .income
        +income(width="200")

    //- Info-block
    +ui-section
      +ui-section-head
        h2 Info-block
        p Блок: blocks/info-block/info-block
      +ui-section-content
        +ui-description .info-block
        +grid
          +col(6)
            +info-block('Заголовок', 'Кнопка')
              +content-zone
                +e.P Контент
          +col(6)

    //- Info-message
    +ui-section
      +ui-section-head
        h2 Info-message
        p Блок: blocks/info-message/info-message
      +ui-section-content
        +ui-description .info-message
        +info-message('Заголовок')
          +e.P Контент

    //- Mark
    +ui-section
      +ui-section-head
        h2 Mark
        p Блок: blocks/mark/mark
      +ui-section-content
        +ui-description .mark
        +mark T
        +ui-description .mark._orange
        +mark._orange B

    //- Notification
    +ui-section
      +ui-section-head
        h2 Notification
        p Блок: blocks/notification/notification
      +ui-section-content
        +ui-description .notification
        +notification
        +ui-description .notification.is-active
        +notification.is-active

    //- page-section
    +ui-section
      +ui-section-head
        h2 Page-section
        p Блок: blocks/page-section/page-section
      +ui-section-content
        +ui-description .page-section
        +page-section('Заголовок')
          +e.P Контент

    //- Price
    +ui-section
      +ui-section-head
        h2 Price
        p Блок: blocks/price/price
      +ui-section-content
        +ui-description .price
        +price('Заголовок') 1350

    //- Accounting
    +ui-section
      +ui-section-head
        h2 Accounting
        p Блок: blocks/accounting/accounting
      +ui-section-content
        +ui-description .accounting
        +grid
          +col(6)
            +accounting

    //- Rate
    +ui-section
      +ui-section-head
        h2 Rate
        p Блок: blocks/rate/rate
      +ui-section-content
        +ui-description .rate
        +grid
          +col(6)
            +rate

    //- Short news
    +ui-section
      +ui-section-head
        h2 Short-news
        p Блок: blocks/short-news/short-news
      +ui-section-content
        +ui-description .short-news
        +grid
          +col(6)
            +short-news('Заголовок', '01.01.2018') Текст

    //- Табы
    +ui-section
      +ui-section-head
        h2 Табы
        p Блок: blocks/tabs
      +ui-section-content()
        +tabs
          +tab()(data-tab-target="tab1").active Информация
          +tab()(data-tab-target="tab2") Контент
          +tab()(data-tab-target="tab3") Тексты
        +tabs-content
          +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
            p Это таб 1
          +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
            p Это таб 2
          +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
            p Это таб 3


  script
    |
    | $('.ui-kit__section').each(function (i) {
    |   var id = 'section' + i;
    |   var name = $(this).find('.ui-kit__section-head h2').text();
    |   var li = $('<li></li>');
    |   var a = $('<a></a>');
    |
    |   a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |   li.append(a);
    |
    |   $('.ui-kit__navigation__list').append(li);
    |   $(this).attr('id', id);
    | });
