.index {
  display: block;
  width: 100%;

  &__informers {

    .grid {
      justify-content: center;

      &:first-of-type {
        @include screen('desktop', max) {
          margin-top: -40px;
        }
      }
    }

    .grid__col_four {

      @include screen('desktop', max) {
        padding-top: 40px;
        width: 50%;
      }

      @include screen('tablet-small', max) {
        width: 100%;
      }
    }
  }

  &__news {
    padding-top: 85px;

    &-slider {

      @include screen('desktop') {
        margin: 0 -40px;
      }
    }
  }

  &__history {
    position: relative;
    padding-top: 58px;
    padding-bottom: 0;
    z-index: 2;

    .page-section__title {
      margin-bottom: 24px;
    }
  }
}

.diagramm {
  position: relative;
  z-index: 1;
}
