.button {
  display: inline-block;
  padding: 16px 20px;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-basic;
  background-color: $color-button;
  background-image: linear-gradient(to top, rgba($color-blend, .64), rgba($color-blend, 0));
  background-blend-mode: soft-light;
  border-radius: 5px;
  transition: all $ease-main;
  cursor: pointer;

  @include text-big;
  font-weight: 700;
  text-align: center;

  &:disabled,
  &.disabled {
    opacity: .5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:hover,
  &.is-active {
    background-color: $color-button-hover;
  }

  &__image {
    position: absolute;
    top: 50%;
    right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 18px;
    transform: translate3d(0, -50%, 0);
    transition: transform $ease-main;

    .button__icon {
      width: 22px;
      height: 18px;
      fill: none;
      stroke: $color-basic;
    }
  }

  &_small {
    padding: 10px 20px;
    @include text;
    font-weight: 700;
  }

  &_smaller {
    padding: 5px 15px;
    font-weight: 400;
  }

  &_dark {
    background-color: $color-button-background;
    background-image: none;
    color: $color-text;

    &:hover {
      background-color: $color-main;
      color: $color-basic;
    }
  }

  &_darken {
    background-color: transparent;
    color: $color-text-fifth;
    background-image: none;

    &:hover {
      background-color: $color-button-background;
      color: $color-text;
    }

    &.active {
      background-color: $color-main;
      color: $color-basic;
      background-image: linear-gradient(to top, rgba($color-blend, .64), rgba($color-blend, 0));
    }
  }

  &_arrow {
    position: relative;
    padding: 16px 50px;

    &:hover {

      .button__image {
        transform: translate3d(5px, -50%, 0);
      }
    }
  }
}
