.button {
  position: relative;
  display: inline-block;
  padding: 16px 20px;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-basic;
  background-color: $color-input;
  @include gradient-main;
  background-size: auto 200%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: all $ease-main;
  cursor: pointer;
  max-width: 300px;

  @include text-big;
  font-weight: 700;
  text-align: center;

  &:disabled,
  &.disabled {
    opacity: 1;
    cursor: not-allowed;
  }

  &.disabled {
    pointer-events: none;
  }

  &:hover,
  &.is-active {
    background-color: $color-gradient-2;
    background-position: 0 0;
  }

  &__image {
    position: absolute;
    top: 50%;
    right: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 18px;
    transform: translate3d(0, -50%, 0);
    transition: transform $ease-main;

    .button__icon {
      width: 22px;
      height: 18px;
      fill: none;
      stroke: $color-basic;
    }
  }

  &__loader {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    left: 0;
    @include gradient-main;
    background-size: auto 200%;
    background-color: $color-gradient-2;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    transition: all $ease-main;

    &-image {
      width: 40px;
      height: 40px;
    }
  }

  &.loading {
    cursor: not-allowed;

    .button__loader {
      opacity: 1;
    }
  }

  &_small {
    padding: 10px 20px;
    @include text;
    font-weight: 700;
  }

  &_smaller {
    padding: 5px 15px;
    font-weight: 400;
  }

  &_dark {
    background-color: $color-button-background;
    background-image: none;
    color: $color-text;

    &:hover {
      background-color: $color-main;
      color: $color-basic;
    }
  }

  &_darken {
    background-color: transparent;
    color: $color-text-fifth;
    background-image: none;

    &:hover {
      background-color: $color-button-background;
      background-position: 0 0;
      color: $color-text;
    }

    &.active {
      @include gradient-light;
      color: $color-basic;
      background-size: auto 100%;
      background-position: 0 0;
    }
  }

  &_arrow {
    position: relative;
    padding: 16px 50px;

    &:hover {

      .button__image {
        transform: translate3d(5px, -50%, 0);
      }
    }
  }
}
