mixin button(newtag, loader)
  - var tag = 'a';
  if newtag
    - var tag = newtag;    
  +b(tag).button&attributes(attributes)
    block
    if loader
      +e.loader
        span

mixin button-arrow(newtag, loader)
  - var tag = 'a';
  if newtag
    - var tag = newtag;
  +b(tag).button_arrow&attributes(attributes)
    block
    +e.image
      +icon('arrow-right').icon
    if loader
      +e.loader
        span
