.button {
  display: inline-block;
  padding: 13px 20px;
  border: none;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-basic;
  background-color: $color-button;
  border-radius: 5px;
  transition: all $ease-main;
  cursor: pointer;

  @include text-big;
  font-weight: 700;
  text-align: center;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active {
    background: $color-button-hover;
  }
}
