.income {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  @include text-big;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;

  &__total {
    width: 100%;
    @include heading-2;
    font-weight: 300;
    line-height: 1.15;
  }

  &__sum {
    display: inline-block;
    color: $color-main;
  }

  &__time {
    display: inline-block;
    color: $color-text;
  }
}
