mixin popup-change-password()
  +popup('Change Password', true).popup_child.popup-change-password__&attributes(attributes)
    +form.__form#form-pass-change
      +e.LABEL.row
        +e.label old password
        +e.wrapper
          +input(type="password" placeholder="Type your old password")
          +e.switcher.js-show-pass
            +icon('eye').icon_eye
      +e.LABEL.row
        +e.label new password
        +e.wrapper
          +input(type="password" placeholder="Type your new password")
          +e.switcher.js-show-pass
            +icon('eye').icon_eye
      +e.row_centered
        +button('button')(type="submit").__button Save
