mixin popup-change-password()
  +popup('Change Password', true).popup_child.popup-change-password__&attributes(attributes)
    +form.__form#form-pass-change
      +e.info-message
        +e.error 
        +e.success
          .container
            +info-message('Password changed successfully')
            +e.success-buttons
              +button('button')(type="button").js-close-child Close
      +e.LABEL.row
        +e.label old password
        +e.wrapper
          +input(type="password" name="password-old" placeholder="Type your old password" required)
          +e.switcher.js-show-pass
            +icon('eye').icon_eye
      +e.LABEL.row
        +e.label new password
        +e.wrapper
          +input(type="password" name="password-new" placeholder="Type your new password" required)
          +e.switcher.js-show-pass
            +icon('eye').icon_eye
      +e.row_centered
        +button('button', 'true')(type="submit").__button.js-validate Save
