.popup-change-password {
  display: block;

  .popup__content {
    @include screen('tablet') {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
    }

    @include screen('desktop') {
      padding-left: 170px;
      padding-right: 178px;
    }
  }

  &__form {

    .form__row {

      @include screen('tablet') {

        &:not(:last-child) {
          margin-bottom: 45px;
        }
      }

      &_centered {

        @include screen('tablet') {
          margin-top: 75px;
        }
      }
    }
  }
}
