@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  position: relative;
  display: block;
  width: 100%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color-background, .4);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: opacity .5s ease;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  background: $color-background-second;
  transition: opacity .5s ease;
  z-index: 101;

  &_child {
    z-index: 102;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__title {
    @include heading-1;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin: 50px 0 30px;

    @include screen('tablet-wide') {
      position: relative;
      padding: 0 80px;
      margin: 52px 0 54px;
    }
  }

  &__content {
    box-sizing: border-box;
    padding-bottom: 50px;

    @include screen('desktop') {
      padding-bottom: 90px;
    }
  }

  &__section {
    width: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;

    @include screen('desktop') {
      padding-bottom: 106px;
    }

    &_dark {
      background: $color-background;
    }
  }

  &__close {
    position: relative;
    display: block;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all $ease-main;
    transform: rotate(45deg);

    &:hover {
      opacity: .5;
    }

    &::before, &::after {
      @include pseudo;
      background: $color-input;
    }

    &::before {
      top: 9px;
      left: 0;
      width: 19px;
      height: 1px;
    }

    &::after {
      top: 0;
      left: 9px;
      width: 1px;
      height: 19px;
    }
  }
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }
