mixin popups()
  +b.popups&attributes(attributes)
    .popup-overlay
    block

mixin popup(title, back, close)
  +b.popup&attributes(attributes)
    .container
      if close
        .popup__close.js-close-popup
      if title
        .popup__title!= title
          if back 
            +back.js-close-child
      .popup__content
        block

mixin popup-nocontent(close)
  +b.popup&attributes(attributes)
    block

mixin popup-notitle(close)
  +b.popup&attributes(attributes)
    .container
      if close
        .popup__close.js-close-popup
      .popup__content
        block
