mixin popups()
  +b.popups&attributes(attributes)
    .popup-overlay
    block

mixin popup(title)
  +b.popup&attributes(attributes)
    .container
      .popup__title!= title
      .popup__content
        block

mixin popup-notitle()
  +b.popup&attributes(attributes)
    .container
      .popup__content
        block
