/* Образец подключения шрифта
@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot');
  src:
    url('webfont.eot?#iefix') format('embedded-opentype'),
    url('webfont.woff2') format('woff2'),
    url('webfont.woff') format('woff'),
    url('webfont.otf')  format('opentype'),
    url('webfont.ttf')  format('truetype'),
    url('webfont.svg#webfont') format('svg');
}
*/

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/HelveticaNeueCyr-Thin.eot');
  src:
    url('../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Thin.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/HelveticaNeueCyr-UltraLight.eot');
  src:
    url('../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-UltraLight.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src:
    url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/HelveticaNeueCyr-Roman.eot');
  src:
    url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/HelveticaNeueCyr-Medium.eot');
  src:
    url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/HelveticaNeueCyr-Bold.eot');
  src:
    url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/HelveticaNeueCyr-Black.eot');
  src:
    url('../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
    url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Black.ttf')  format('truetype');
}

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/
