@mixin link {
  color: $color-main;
  border: 0;
  transition: all $ease-main;

  &:hover { opacity: .7; }
}

@mixin link-white {
  color: $color-basic;

  &:hover {
    opacity: 1;
    color: $color-main;
  }
}

@mixin link-bordered {
  border-bottom: 1px solid $color-main;
}

@mixin link-uppercase {
  text-transform: uppercase;
}

@mixin link-disabled {
  color: $color-border;
}
