mixin popup-verification()
  +popup('Verification', '', 'true').popup-verification&attributes(attributes)
    +form.__form#form-verification
      +e.info-message
        +e.error 
        +e.success
          +icon('check').success-icon
          +e.success-text Request has been sent
      +e.step_centered.active(data-step="step1")
        +e.row_centered
          +upload-zone.__upload
        +e.row_centered
          +button-arrow('a')(href="#" data-target-step="step2").__button.js-next-step Next Step
      +e.step(data-step="step2")
        +e.LABEL.row
          +e.label full name
          +e.wrapper
            +input(type="text" name="name" placeholder="Type your full name")
        +e.row
          +e.label country
          +e.wrapper
            +select(name="country")
              +e.OPTION(placeholder value="") Select your country
              +e.OPTION(value="USA") USA
              +e.OPTION(value="Slovenia") Slovenia
              +e.OPTION(value="Vietnam") Vietnam
              +e.OPTION(value="Spain") Spain
              +e.OPTION(value="France") France
        +e.LABEL.row
          +e.label address
          +e.wrapper
            +input(type="text" name="address" placeholder="Type your address")
        +e.row_centered._button
          +button('button', 'true')(type="submit").__button.js-validate Apply
