.diagramm {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 178px;

  &-balance {
    height: 178px;
    font-family: $font-main;

    .highchart-plot-line-0 {
      stroke-width: 3;
      stroke-linecap: round;
      fill: $color-main;
      stroke-dasharray: 3, 20 !important;

      path {
        stroke-dasharray: 3, 20 !important;
      }
    }
  }

  &-price {
    margin-top: -25px;

    &__old-series {
      opacity: .35;

      &.highcharts-tracker.highcharts-series-hover {
        opacity: 1;
      }
    }

    .highcharts-range-selector-group {
      opacity: 0;
      pointer-events: none;
    }

    .highcharts-axis-labels {

      .highcharts-yaxis-labels {

        span {
          @include text-big;
          color: $color-basic;
        }
      }
    }

    .highcharts-xaxis-grid .highcharts-grid-line {
      stroke: $color-grid-lines;
      stroke-width: 3;
      stroke-dasharray: 3, 18;
    }

    &__ylabel {
      @include text-big;
      color: $color-basic;
    }

    .diagramm-price__main-series .highcharts-tracker highcharts-series-hover {
      box-shadow: 0px 6px 13px 0px rgba(53, 147, 238, 0.43),0px 1px 3px 0px rgba(37, 47, 64, 0.31);
    }

    .highcharts-axis-labels .highcharts-xaxis-labels {
      span {
        @include text-small;
        color: rgba($color-main, .5);
      }
    }

    .highcharts-tooltip {
      text-align: center;

      .diagramm-price__tooltip-top {
        font-family: $font-main;
        @include text;
        color: rgba($color-basic, .5);
        text-align: center;
      }

      .diagramm-price__tooltip-bottom {
        font-family: $font-main;
        @include text-big;
        text-align: center;
        color: $color-basic;
      }
    }
  }
}
