.diagramm {
  display: block;
  width: 100%;
  max-width: 100%;

  &-balance {
    height: 178px;
    font-family: $font-main;

    .highchart-plot-line-0 {
      stroke-width: 3;
      stroke-linecap: round;
      fill: $color-main;

      path {
        stroke-dasharray: 3, 20;
      }
    }
  }

  &-price {
    margin-top: -25px;

    .highcharts-range-selector-group {
      opacity: 0;
      pointer-events: none;
    }

    .highcharts-axis-labels {

      .highcharts-yaxis-labels {
        width: 0;
      }
    }

    .highcharts-xaxis-grid .highcharts-grid-line {
      stroke: $color-grid-lines;
      stroke-width: 3;
      stroke-dasharray: 3, 18;
    }
  }
}
