mixin popup-exchange()
  +popup-nocontent(true).popup_child.popup-exchange&attributes(attributes)
    +e.SECTION.section
      .container
        .popup__close.js-close-popup
        .popup__title Exchange
          +back.js-close-child
        +form#form-exchange
          +e.info-message
            +e.error 
            +e.success
              +icon('check').success-icon
              +e.success-text Request has been sent
          +e.field
            +e.column
              +e.label Enter amount
              +e.wrapper_row
                +e.container
                  +input(type="text" placeholder="0" name="amountfrom" data-rate-usd="{'btc': 9303.12, 'eth': 681.23, 'ltc': 151.1, 'xpr': 0.8632, 'bch': 1388.32, 'xmr': 255.12, 'doge': 0.005502, 'etc': 21.69}").js-numberbox-input.js-value-from
                +select.js-currency-from(name="currencyfrom")
                  +e.OPTION(value="btc") BTC
                  +e.OPTION(value="eth") ETH
                  +e.OPTION(value="ltc") LTC
                  +e.OPTION(value="xpr") XPR
                  +e.OPTION(value="bch") BCH
                  +e.OPTION(value="xmr") XMR
                  +e.OPTION(value="doge") DOGE
                  +e.OPTION(value="etc") ETC
            +e.exchange
              +icon('exchange').icon
            +e.column
              +e.label You are getting
              +e.wrapper_row
                +e.container
                  +input(type="text" placeholder="0" name="amountto" readonly="readonly").js-numberbox-input.js-value-to
                +select.js-currency-to(name="currencyto")
                  +e.OPTION(value="btc") BTC
                  +e.OPTION(value="eth" selected) ETH
                  +e.OPTION(value="ltc") LTC
                  +e.OPTION(value="xpr") XPR
                  +e.OPTION(value="bch") BCH
                  +e.OPTION(value="xmr") XMR
                  +e.OPTION(value="doge") DOGE
                  +e.OPTION(value="etc") ETC
          +e.row_centered._button
            +button('button', 'true')(type="submit").__button.js-validate Proceed
    +e.SECTION.section_dark
      .container
        +qr-block
        +copied-block
