.popup-withdraw-funds {
  display: block;

  .popup__content {

    @include screen('tablet') {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include screen('tablet-wide') {
      padding-top: 2px;
      padding-left: 168px;
      padding-right: 176px;
      padding-bottom: 60px;
    }
  }
}
