mixin popup-withdrow-funds(title)
  +popup(title, '', true).popup-withdraw-funds__&attributes(attributes)
    +form.__form#form-withdraw
      +e.info-message
        +e.error 
        +e.success
          +icon('check').success-icon
          +e.success-text Request has been sent
      +e.row
        +e.label from my wallet
        +e.wrapper
          +e.info.input Available 0000 EUR
          +input(type="hidden" name="available" value="Available 0000 EUR")
          +e.A.arrow-link(href="#")
            +icon('big-angle').icon_angle
      +e.row
        +e.label to visa card
        +e.wrapper
          +e.info.input VISA
            +dot._double
            +dot._double
            | 0123
          +input(type="hidden" name="card" value="VISA .... 0123")
          +e.A.arrow-link(href="#")
            +icon('big-angle').icon_angle
      +e.LABEL.row
        +e.label amount
        +e.wrapper
          +input(type="text" name="amount" placeholder="0000").js-numberbox-input
      +e.row_notes
        +e.note
          +icon('calendar').icon_calendar
          +e.SPAN.label Processing time  2 - 3 business days
        +e.note
          +icon('alert').icon_alert
          +e.SPAN.label a d12 fund Transaction fee may aplly
      +e.row_centered
        +button('button', 'true')(type="submit").__button.js-validate Withdraw Fund
