.avatar {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;

  @include screen('phone-wide') {
    width: 54px;
    height: 54px;
  }

  &__image {
    @include fill-img;
    border-radius: 50%;
  }
}
