include ../blocks/accordion/accordion
include ../blocks/account/account
include ../blocks/accounting/accounting
include ../blocks/avatar/avatar
include ../blocks/button/button
include ../blocks/capcha/capcha
include ../blocks/card/card
include ../blocks/content-zone/content-zone
include ../blocks/copied-block/copied-block
include ../blocks/diagramm/diagramm
include ../blocks/dot/dot
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/form/form
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/income/income
include ../blocks/info-block/info-block
include ../blocks/info-message/info-message
include ../blocks/language/language
include ../blocks/link-list/link-list
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/logo/logo
include ../blocks/mark/mark
include ../blocks/navigation/navigation
include ../blocks/notification/notification
include ../blocks/page-section/page-section
include ../blocks/popups/popups
include ../blocks/price/price
include ../blocks/qr-block/qr-block
include ../blocks/rate/rate
include ../blocks/short-news/short-news
include ../blocks/slider/slider
include ../blocks/social/social
include ../blocks/socials/socials
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../blocks/upload/upload
include ../blocks/verification/verification
include ../components/footer/footer
include ../components/header/header
include ../components/info-panel/info-panel
include ../components/popup-buy-tokens/popup-buy-tokens
include ../components/popup-change-password/popup-change-password
include ../components/popup-edit-wallet/popup-edit-wallet
include ../components/popup-exchange/popup-exchange
include ../components/popup-history-purchases/popup-history-purchases
include ../components/popup-language/popup-language
include ../components/popup-profile/popup-profile
include ../components/popup-verification/popup-verification
include ../components/popup-withdrow-funds/popup-withdrow-funds
include ../components/ui-kit/ui-kit