include ../blocks/accordion/accordion
include ../blocks/account/account
include ../blocks/accounting/accounting
include ../blocks/avatar/avatar
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/button/button
include ../blocks/content-zone/content-zone
include ../blocks/diagramm/diagramm
include ../blocks/dropdown/dropdown
include ../blocks/form-elements/form-elements
include ../blocks/grid/grid
include ../blocks/icon/icon
include ../blocks/income/income
include ../blocks/info-block/info-block
include ../blocks/language/language
include ../blocks/link-list/link-list
include ../blocks/link/link
include ../blocks/lists/lists
include ../blocks/logo/logo
include ../blocks/map/map
include ../blocks/navigation/navigation
include ../blocks/notification/notification
include ../blocks/page-section/page-section
include ../blocks/popups/popups
include ../blocks/rate/rate
include ../blocks/rating/rating
include ../blocks/short-news/short-news
include ../blocks/slider/slider
include ../blocks/table/table
include ../blocks/tabs/tabs
include ../components/header/header
include ../components/ui-kit/ui-kit