include _externalIncludes
include _internalIncludes

doctype html
html(lang='en')
  include head
  body
    +header
    +popups
      +popup-language('Choose Your Country')#popup-language
      +popup-withdrow-funds('Withdraw Funds')#popup-withdraw-funds
      +popup-history-purchases('Purchase History')#popup-history-purchases
      +popup-change-password#popup-change-password
      +popup-edit-wallet#popup-edit-wallet
      +popup-profile#popup-profile
      +popup-verification#popup-verification
      +popup-buy-tokens#popup-buy-tokens
      +popup-exchange#popup-exchange
      block popups
    block content
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
