mixin info-block(title, linktitle, link, popup)
  - var addLink = "#" || link
  +b.info-block&attributes(attributes)
    +e.title!= title
    +e.content
      block
    +e.buttons
      - if (popup) {
        +button('a')(href=addLink data-popup=popup).__button.js-open-popup!= linktitle
      - } else {
        +button('a')(href=addLink).__button!= linktitle
      - }
