.popup-edit-wallet {
  display: block;

  .popup__title {

    @include screen('tablet-wide') {
      margin-bottom: 120px;
    }
  }

  .popup__content {
    @include screen('tablet') {
      padding-left: 38px;
      padding-right: 42px;
      padding-bottom: 50px;
    }
  }

  .form__switcher {
    cursor: default;

    &:hover {

      .form__icon_pen {
        stroke: $color-placeholder;
      }
    }
  }

  .form__row {

    &:not(:last-child) {
      margin-bottom: 40px;

      @include screen('tablet-wide') {
        margin-bottom: 155px;
      }
    }
  }
}
