.account {
  position: relative;
  display: block;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &.is-active {

      .account {

        &__toggle {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__avatar {
    margin-right: 10px;

    @include screen('desktop') {
      margin-right: 16px;
    }

    @include screen('desktop-wide') {
      margin-right: 24px;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    transform: rotate(0);
    transition: all $ease-main;

    @include screen('phone-wide') {
      width: 12px;
      height: 12px;
    }
  }

  &__login {
    @include text-small;

    font-weight: 500;
    margin-right: 10px;

    @include ellipsis(100%);

    max-width: 120px;

    @include screen('phone-wide') {
      max-width: none;
    }

    @include screen('desktop-wide') {
      @include text;

      font-weight: 500;
      margin-right: 16px;
    }
  }

  &__icon {
    width: 9px;
    height: 5px;
    fill: none;
    stroke: $color-basic;
    transition: all $ease-main;

    @include screen('phone-wide') {
      width: 11px;
      height: 7px;
    }
  }

  &__dropdown.dropdown {
    width: auto;
    width: 200px;
    max-width: 200px;
    margin-top: 10px;
    padding: 0 0 12px;
    left: auto;
    right: 0;

    @include screen('desktop-wide') {
      max-width: none;
      width: 100%;
    }

    .link-list__item {
      width: 100%;
      max-width: 100%;
      font-weight: 500;
      background-color: transparent;
      transition: all $ease-main;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:hover {
        background-color: $color-background-four;
      }
    }

    .link {
      box-sizing: border-box;
      padding: 8px 12px;
      width: 100%;
    }

    .link__text {
      @include ellipsis(100%);
    }
  }

  &:hover {

    .account {

      &__icon {
        stroke: $color-input;
      }
    }
  }
}
