mixin account()
  +b.account&attributes(attributes)
    +e.info.js-dropdown-toggle
      //- +avatar.__avatar
      +e.login mark.hoffan@gmail.com
      +e.toggle
        +icon('angle').icon
    +dropdown.__dropdown
      +b.UL.link-list_vertical
        +e.item
          +link(href="#" data-popup="popup-profile")._white.js-open-popup.js-close-dropdown Edit Profile
        +e.item
          +link(href="#" data-popup="popup-verification")._white.js-open-popup.js-close-dropdown Verification
        +e.item
          +link(href="#")._white.js-close-dropdown Log Out
