.account {
  position: relative;
  display: block;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &.is-active {

      .account {

        &__toggle {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__avatar {
    margin-right: 16px;

    @include screen('desktop') {
      margin-right: 24px;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    transform: rotate(0);
    transition: all $ease-main;
  }

  &__login {
    @include text;
    font-weight: 500;

    @include screen('desktop-wide', max) {
      @include visual-hide;
    }

    @include screen('desktop') {
      margin-right: 16px;
    }
  }

  &__icon {
    width: 11px;
    height: 7px;
    fill: none;
    stroke: $color-basic;
    transition: all $ease-main;
  }

  &__dropdown.dropdown {
    width: auto;
    max-width: 200px;
    margin-top: 0;
    padding: 20px 12px;
    left: auto;
    right: 0;

    @include screen('desktop-wide') {
      max-width: none;
      padding-top: 8px;
      width: calc(100% - 64px);
    }

    .link-list__item {
      max-width: 100%;
      font-weight: 500;
    }

    .link__text {
      @include ellipsis(100%);
    }
  }

  &:hover {

    .account {

      &__icon {
        stroke: $color-input;
      }
    }
  }
}
