mixin socials()
  +b.UL.socials&attributes(attributes)
    +e.LI.item
      +social('fb')(href="#" title="Facebook")
    +e.LI.item
      +social('tw')(href="#" title="Twitter")
    +e.LI.item
      +social('gg')(href="#" title="Google+")
