@import '../../node_modules/swiper/dist/css/swiper.css';

.slider {
  position: relative;
  box-sizing: border-box;

  @include screen('desktop') {
    padding: 0 60px;

    &::before, &::after {
      @include pseudo;
      width: 40px;
      height: 100%;
      top: 0;
      background: $color-background;
      z-index: 2;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  &__slide {
    text-align: center;
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 2;
    pointer-events: none;
  }

  &__dot {
    margin: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid $color-border;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    transition: border-color $ease-main, background-color $ease-main;
    pointer-events: all;
    cursor: pointer;

    &.active {
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 24px;
    transition: opacity $ease-main;
    z-index: 3;
    cursor: pointer;
    background-color: transparent;

    .slider__icon {
      width: 14px;
      height: 24px;
      fill: none;
      stroke: $color-blue;
      transition: all $ease-main;
    }

    &:hover {

      .slider__icon {
        stroke: $color-main;
      }
    }

    &_next {
      right: 0;
      transform: rotate(180deg);

      @include screen('desktop') {
        right: 20px;
      }
    }

    &_prev {
      left: 0;

      @include screen('desktop') {
        left: 20px;
      }
    }
  }
}
