.price {
  display: block;

  &__label {
    @include text-big;
    color: rgba($color-text, .5);
    font-weight: 300;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 2px;
  }

  &__text {
    @include heading-3;
    text-transform: uppercase;
    font-weight: 300;
  }

  &__unit {
    color: $color-light-blue;
  }

  &_dark {
    color: rgba($color-text, .5);

    .price__label {
      color: rgba($color-text, .5);
    }

    .price__unit {
      color: rgba($color-text, .5);
    }
  }
}
