.popup-history-purchases {
  display: block;

  .container {
    @include screen('desktop') {
      padding: 0;
    }
  }

  .popup__title {
    margin-bottom: 20px;

    @include screen('tablet-wide') {
      margin-bottom: 44px;
    }
  }

  &__purchase {
    width: 1210px;
    margin-bottom: 20px;
  }

  &__wrapper {
    max-height: 400px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;

    @include screen('tablet-wide') {
      margin-top: 50px;
    }
  }

  &__button {
    width: 100%;

    @include screen('phone-wide') {
      width: auto;
      min-width: 294px;
    }
  }
}
