.qr-block {
  display: block;
  box-sizing: border-box;
  padding: 50px 0;

  @include screen('tablet') {
    padding: 100px 0;
  }

  &__image {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
    margin-bottom: 44px;
  }

  &__qr {
    width: 140px;
    height: 140px;
  }

  &__text {
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    @include heading-3;
    line-height: 1.2;
    font-weight: 300;
    color: $color-text;
  }
}
